.wrapper {
	margin: 0 auto 200px;
	max-width: 800px;
}

h1 {
	background: #000;
	color: $yellow;
	font-size: 40px;
	margin-bottom: 40px;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
}

dl {
	font-size: 16px;
	margin-bottom: 40px;
	overflow: hidden;
}

dt {
	clear: both;
	float: left;
	font-weight: bold;
	padding: 0 5px 0 10px;
}

table {
	font-size: 16px;
	margin-bottom: 40px;
	width: 100%;
}

th,
td {
	border-bottom: 1px solid $grey;
	padding: 10px;
	text-align: left;
}

th {
	font-weight: bold;
}